.contact-form{
    padding: 2vh 0;
}
.email-input{
    width: 55%;
    font-size: 1.2em;
    text-align: center;
    color: black;
}
.error-container{
    position: relative;
}
.error-message{
    position: absolute;
    line-height: 2em;
}